BOT_TOKEN=#Create a bot in botfather and insert its API @BotFather
DATABASE_URL=#postgresql+asyncpg://postgres:postgres@localhost:5432/test_db
BOT_LOGIN=#@botname
HOST=#ip
PORT=#port
ADMIN_ID=#user_id admin
IPINFO_TOKEN=#token from https://www.ipinfo.io
API_HASH=#your_api_hash
API_ID=#123456 your API ID
STRING_SESSION=#The received string from the "auth.py" script in test_bot