BOT_TOKEN=#Create a bot in botfather and insert its API @BotFather
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/test_db
BOT_LOGIN=#@botname
HOST=#ip
PORT=#port
ADMIN_ID=#user_id admin
IPINFO_TOKEN=#token from https://www.ipinfo.io